.list-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  gap: 8px;
}

.list-content {
  flex: 2;
  min-width: calc(100% * 2/3 - 8px);
}

.list-filter {
  flex: 1;
  min-width: calc(100% * 1/3 - 8px);
}

@media (max-width: 600px) {
  .list-container {
    flex-direction: column-reverse;
  }

  .list-content,
  .list-filter {
    flex: 1 1 100%;
    min-width: 100%;
  }
}

.employee-list {
  width: 100%;
}

.employee-list.desktop-view {
  height: 317.6px; /* So pagination do not jump up n down */
}

.desktop-view table {
  width: 100%;
  border-collapse: collapse;
}
  
.desktop-view th, .desktop-view td {
  border: 1px solid #ddd;
  padding: 8px;
}

.desktop-view th {
  background-color: #c5c5c5;
  text-align: left;
}

.mobile-view {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.employee-card {
  border: 1px solid #c5c5c5;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: flex;
  }
}

@media (min-width: 769px) {
  .desktop-view {
    display: table;
  }

  .mobile-view {
    display: none;
  }
}

.error-message {
  text-align: center;
  margin-top: 16px;
}

.error-message p {
  color: crimson;
}

.error-message button {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.error-message button i {
  margin-right: 4px;
}

.error-message button:hover {
  color: #c5c5c5;
}

.no-results {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #c5c5c5;
  margin-top: 16px;
}

.loading-indicator {
  font-size: 12px;
  font-weight: bold;
  color: #c5c5c5;
  margin-top: 16px;
}