.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
  
.pagination-container button {
    margin: 0 4px;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.pagination-container button:hover {
    font-weight: bold;
    text-decoration: underline;
}

.pagination-container button.active {
    font-weight: bold;
    text-decoration: underline;
    background-color: #c5c5c5;
}