.filter-container {
    display: flex;
    flex-direction: column;
}
  
.filter-container p {
    margin-bottom: 8px;
    font-weight: bold;
}

.filter-btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.filter-btn-container button {
    width: calc(33.3333% - 8px);
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-btn-container button.selected {
    background-color: green;
    color: white;
}

.filter-btn-container button.selected:hover {
    color: #c5c5c5;
}

.filter-btn-container button:not(.selected):hover {
    color: green;
}

@media (max-width: 700px) and (min-width: 301px) {
    .filter-btn-container button {
        width: calc(50% - 8px);
    }
}

@media (max-width: 300px) {
    .filter-btn-container button {
        width: calc(100% - 8px);
    }
}