.filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.filter-container p {
    margin-bottom: 8px;
}

.filter-container button {
    margin: 2px 0;
    padding: 8px 12px;
    cursor: pointer;
}

.filter-container button.selected {
    background-color: #007bff;
    color: white;
}